.landing-container{

  .sections{
    width: 100%;
    height: calc(100vh - 70px);

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }

    > * {
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      color: #66FCF1;
      text-align: start;

    }
  }
}

