.landing-container{

  .sections{
    width: 100%;


    // scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }

    > * {
      // scroll-snap-align: start;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #66FCF1;
      text-align: start;

    }
  }
}

