.chat {

  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  margin:auto;
  box-sizing: border-box;
  width: 90%;
  border: solid #0b0c10 80px;
  margin-top: -3%;

  .convo {
    grid-column: span 2;
    background-color: #1f2833;
    box-shadow: -20px 30px 63px -22px rgba(197,198,199,.45);
    border-radius: 25px;
    box-sizing: border-box;
    border: 100px;
    max-height: 95%;
    min-height: 95%;
  }

  .chat-box {
    grid-column: span 3;
    background-color: #1f2833;
    box-shadow: 20px 30px 63px -22px rgba(197,198,199,.45);
    border-radius: 25px;
    max-height: 95%;
    min-height: 95%;
  }

  .convo-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    span {
      font-size: 20px;
      font-weight: 800;
      padding: 5px;
    }
  }

  .teams-header:hover {
    cursor: pointer;
    color: #FFF;
  }

  .dm-header:hover {
    cursor: pointer;
    color: #FFF;
  }

  .wrapper-chat-box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 98%;
  }

  .wrapper-convo {
    padding: 20px;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
      mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
      mask-size: 100% 20000px;
      mask-position: left bottom;
      -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
      -webkit-mask-size: 100% 20000px;
      -webkit-mask-position: left bottom;
      transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  }

  .chatBoxTop {
      height: 100vh;
      padding: 10px;
      overflow-y: scroll;
      mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
      mask-size: 100% 20000px;
      mask-position: left bottom;
      -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
      -webkit-mask-size: 100% 20000px;
      -webkit-mask-position: left bottom;
      transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.chatBoxTop:hover {
  -webkit-mask-position: left top;
}

  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 25px;
  }

  .chatSubmitButton {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #0b0c10;
    color: #66FCF1;
  }

}
