.final {
  background-color: grey;
  display: flex;
  flex-direction: column;

  min-height: 100%;

  .content {
    display: flex;
    flex-direction: column;

  }

  .footer-container {
    background-color: blue;
    height: 30%;
    width: 100%;
    margin-top: auto;
    

  }

  .footer{
    display: flex;
  }
}
