.post-button {
  padding: 30px;
  background-color: #45a29e;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  max-width: 300px;
  margin-bottom: 10px;
  align-items: center;
}
a {
  color: #66fcf1;
  text-decoration: none;
}
a:visited {
  color: #45a293;
}
a:hover {
  color: white;
}
.admin-tiles {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #1f2833;
  padding: 30px;
  border-radius: 5px;
  min-width: 400px;
  max-width: 500px;
  margin: 20px;
}
.display-flex {
  display: flex;
  flex-direction: row;
}
