.project-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.project-filters {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.project-list {
  display: flex;
  flex-direction: column;
}
