.project-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.project-filters {
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  padding-right: 50px;
  align-items: flex-start;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #181818;
  padding: 30px;
  border-radius: 5px;
  max-width: 700px;
}

.project-tile a {
  text-decoration: none;
  color: white;
}

.project-tile img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.project-owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-owner a {
  text-decoration: underline;
}

.request-to-collab {
  background-color: #2ea44f;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  max-width: 300px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #181818;
  border: none;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  max-width: 50px;
  min-width: 50px;
  margin-bottom: 10px;
}

.request-to-collab:disabled {
  background-color: gray;
}

.request-to-collab:hover {
  cursor: pointer;
}

.delete-button:hover {
  cursor: pointer;
}

.tile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
