.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 50px;
  min-width: 300px;
  max-width: 600px;
}
.title-tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1f2833;
  padding: 30px;
  border-radius: 5px;
  margin: 60px;
}
.description-tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1f2833;
  padding: 30px;
  border-radius: 5px;
  min-width: 700px;
  max-width: 800px;
  margin: 20px;
}
