.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.hover {
  color: rgb(61, 164, 211);
  text-decoration: underline;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
