#submit-button {
  padding: 15px;
  background-color: white;
  border: none;
  height: 2px;
  border-radius: 5px;
  color: #45a29e;
  font-size: 10px;
  max-width: 100px;
  margin-bottom: 20px;
  align-items: center;
}
