.navBar {
  background-color: #1f2833;
  color: #66FCF1;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .leftNav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rightNav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-right: 40px;
  }

  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #66FCF1
  }

  .icon:hover {
    color: white;
  }

  span {
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
  }

  .messages-link {
    text-decoration: none;
    color:#66FCF1;
  }

  .messages-link:hover {
    color: white;
  }

  .img-div {
    width: 20%;
  }

  .profilePic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .profilePic:hover {
    border: 1px solid;
    border-color: #66FCF1;
  }

  .button-div {
    padding-left: 40px;
  }

  .logoutButton {
    width: 70px;
  }

  .logButton {
    background-color: #1f2833;
    color: #66FCF1;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    border: 2px solid;
    border-color: #66FCF1;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

  .logButton:hover {
    color: #1f2833;
    background-color: #66FCF1;
    border-color: #1f2833;
  }
}
