.footer-container{
  background-color: #0b0c10;
  padding-bottom: 2rem;
  width: 100%;
  display:flex;
  flex-direction: column;

  .footer {
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
  }

  .footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    align-items: flex-start;
    width: 20%;
    color:#66FCF1;

    > * {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    ul {
      margin-top: auto;
      list-style: none;
      color: #45A29E;
      margin-left: -17%;
    }

    li {
      padding: 3px;
    }

    li:hover {
      cursor: pointer;
      font-weight: 900;
      color: white;
      padding-left: 10px;
      transition: 0.3s ease-out;
    }

    footer-4 {
      flex-direction: column;
    }

    .socials {
      display: inline-block;

      > * {
        margin-right: 10px;
        height: 30px;
        width: 30px;
        padding: 5px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 50%;

      }

      > *:hover {
        color: #696969;
        background-color: #FFFFFF;
        cursor: pointer;
        transition: 0.3s ease-out;
      }

    }

  }
  .legal {
    display: flex;
    justify-content: space-between;;
    align-items: flex-end;
    margin-left: 13%;
    padding: 40px 10px 5px 20px;
    color:#FFFFFF99;
    max-width: 72%;

    span {
      font-size: 15px;

    }

    span:hover {
      cursor: pointer;
      color: white;
      transition: 0.3s ease-out;

    }

    .copyright {
      height: 15px;
    }
  }

}

