.form-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 40%;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(31, 28, 28);
}
.input {
  width: 70%;
}

form-cotainer {
  display: flex;
  justify-content: center;
}
.div {
  display: flex;
  justify-content: center;
}
.placeholder {
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
