.single-project {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.project-info {
  display: flex;
  align-items: top;
  flex-direction: column;
  width: 50%;
}
.Project-messages {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: right;
}

#comment-input {
  display: flex;
  width: 400px;
  flex-direction: column;
  text-align: right;
  align-items: right;
}

.post-button {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: right;
  background-color: #45a293;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#create-repo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-labels {
  font-size: 3rem;
  font-weight: bold;
}

.repo-form-input {
  height: 30px;
  width: 20rem;
  font-size: 2rem;
  color: #1f2833;
  margin-bottom: 40px;
  background-color: #45a29e;
}

#repo-privacy-field {
  height: 40px;
  width: 200px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #45a29e;
  margin-top: 10px;
}

.create-repo-button {
  background-color: #45a29e;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  max-width: 300px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 3rem;
}
