#account-setup {
  height: 100%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #66fcf1;
  font-size: 30px;
  background-color: #1f2833;
  padding: 30px;
  border-radius: 10px;
}

#flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
