#account-setup {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #66fcf1;
  font-size: 30px;
}

#account-setup h1 {
  position: absolute;
  top: 200px;
}
