#user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#profile-img {
  height: 150px;
  width: 150px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
}

#user-img-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#user-bio-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.github-button {
  color: gray;
}

#user-bio {
  width: 10rem;
}

#edit-bio {
  cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat803.cur), auto !important;
}

#editing-bio-text {
  text-align: start;
  height: 150px;
  width: 150px;
}

#save-cancel-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#user-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 39rem;
  overflow-y: scroll;
}

#user-projects::-webkit-scrollbar {
  display: none;
}

#project {
  flex: 1 0 40%;
  margin: 5px;
  height: 200px;
  padding: 5px;
  background-color: rgb(53, 53, 53);
  border-radius: 4px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project:hover {
  box-shadow: 1px 1px 30px 0px rgba(151, 151, 151, 0.2);
}

#user-languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
