#user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#profile-img {
  margin-top: 2rem;
  height: 150px;
  width: 150px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
}

#user-img-name {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#user-bio-languages {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#user-name-github {
  margin-left: 20px;
}

#user-languages {
  margin-left: 20px;
}

.github-button {
  color: grey;
}

.fa-github {
  size: 50px;
}
